body {
  background: #cf9ef0;
  background: linear-gradient(
    90deg,
    rgba(207, 158, 240, 1) 0%,
    rgba(232, 70, 189, 0.86) 50%,
    rgba(219, 107, 94, 1) 100%
  );
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #958f9b 29%,
    #13d4ff 67%,
    #9500ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 50% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
  font-size: 35px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
  header {
    margin-bottom: 30px;
  }
}

form {
    padding: 30px;
    display: flex;
}
.poem {
  text-align: center;
  text-justify: auto;
}

footer {
  font-size: 11px;
}
.coder {
  color: rgb(246, 160, 229);
}
